In [1]:
#Importando a biblioteca
import pandas as pd

In [23]:
#Leitura dos arquivos
df1 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/datasets/Aracaju.xlsx')
df2 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/datasets/Fortaleza.xlsx')
df3 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/datasets/Natal.xlsx')
df4 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/datasets/Recife.xlsx')
df5 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/datasets/Salvador.xlsx')

In [5]:
df5.head()

     Cidade       Data  Vendas  LojaID  Qtde
0  Salvador 2018-01-01   31.06    1037     3
1  Salvador 2018-01-01   19.02    1034     3
2  Salvador 2019-02-10  173.59    1035     3
3  Salvador 2019-02-10  176.34    1037     3
4  Salvador 2019-02-14   19.47    1037     3

In [24]:
#juntando todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [7]:
# Exibindo as 5 primeiras linhas
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [8]:
# EXibindo a5 ultimas linhas 
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [11]:
# Escolhe uma linha aleat√≥ria
Se quiser exibir mais de uma linha basta colocar dentro do colchetes
df.sample()

     Cidade       Data  Vendas  LojaID  Qtde
52  Aracaju 2018-01-01   14.76    1520     3

In [15]:
df.sample(15)

        Cidade       Data  Vendas  LojaID  Qtde
36       Natal 2019-02-09  328.00     853     2
85      Recife 2019-01-01  182.52     983     1
18   Fortaleza 2019-01-01   38.31    1002     3
201   Salvador 2019-01-02   86.61    1036     1
24   Fortaleza 2019-01-01   35.38    1005     4
20    Salvador 2019-01-01   33.97    1034     3
41    Salvador 2019-02-13    9.86    1035     2
33     Aracaju 2018-01-01   35.09    1523     4
58       Natal 2018-12-23  272.00     853     3
133  Fortaleza 2019-03-02   14.67     980     7
211   Salvador 2019-01-02  141.05    1035     3
29       Natal 2019-03-09  646.00     854     2
122   Salvador 2019-03-02   13.27    1037     1
51    Salvador 2019-01-01   13.37    1037     2
85   Fortaleza 2019-01-01  149.00    1005     3

In [18]:
# Verificando os tipos de dados
# Observe que este comando √© sem parenteses
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [19]:
# A coluna LojaID √© do tipo inteiro, mas como esta coluna n√£o servir√° para c√°lculo,
# podemos trat√°-la como String (O pandas entende como object)
#
#Alterando o tipo de dado da coluna LojaID
df["LojaID"] = df['LojaID'].astype('object')

In [20]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [25]:
#Consultando linhas com valores faltantes
df.isnull().sum()

Cidade    0
Data      0
Vendas    3
LojaID    0
Qtde      0
dtype: int64

In [26]:
#Substituindo os valores nulos pela m√©dia
# O par√¢metro inplace=True altera o arquivo na origem
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [27]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [28]:
# Substituindo os valores nulos por zero
df["Vendas"].fillna(0, inplace=True)

In [29]:
# Apagando as linhas com valores nulos por zero
df.dropna(inplace=True)

In [30]:
#Apagando as linhas com valores nulos com base apenas em 1 coluna
df.dropna(subset=["Vendas"], inplace=True)

In [31]:
#Removendo linhas que estejam com valores faltantes em todas as colunas
df.dropna(how="all", inplace=True)